/**********************/
/*     over 368px     */
/**********************/
@media only screen and (min-width: 23em) {
  /* SECTION 1 BEGIN*/

  .header__logo {
    width: auto;
  }

  .hero__title-container {
    font-size: calc((28 / 16) * 1rem);
  }

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/

  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  /* SECTION 4 END*/
}

/**********************/
/*     over 480px     */
/**********************/
@media only screen and (min-width: 30em) {
  /* SECTION 1 BEGIN*/

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/

  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  /* SECTION 4 END*/
}

/**********************/
/*     over 640px     */
/**********************/
@media only screen and (min-width: 40em) {
  /* SECTION 1 BEGIN*/

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/

  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  .creations__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  /* SECTION 4 END*/
}

/**********************/
/*     over 800px     */
/**********************/
@media only screen and (min-width: 50em) {
  /* SECTION 1 BEGIN*/

  /* hide hamburger menu */
  [aria-controls="header__nav"] {
    display: none;
  }

  /* show list */
  [aria-expanded="false"] ~ ul {
    display: flex;
  }

  .header__nav-list {
    align-items: center;
  }

  .header__nav-item {
    margin-bottom: 0;
    margin-right: calc((30 / 16) * 1rem);
  }

  .header__nav-item:last-of-type {
    margin-right: 0;
  }

  .header__nav-link:link,
  .header__nav-link:visited {
    text-transform: none;
  }

  .header__nav-link:hover::after,
  .header__nav-link:active::after {
    transform: translateX(-50%);
    bottom: calc((-10 / 16) * 1rem);
    left: 50%;
  }

  /* hero section */
  .hero {
    background-image: url(../images/desktop/image-hero.jpg);
  }

  .hero__container {
    width: calc((1000 / 16) * 1rem);
    margin: 0 auto;
  }

  .hero__title-container {
    font-size: calc((42 / 16) * 1rem);
    padding: calc((40 / 16) * 1rem);
    max-width: calc((600 / 16) * 1rem);
  }

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/
  .about {
    max-width: calc((1000 / 16) * 1rem);
  }
  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  .items__names {
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: 1.5rem;
    width: 50%;
  }

  .creations {
    max-width: calc((1000 / 16) * 1rem);
    margin: 0 auto;
    padding: 0 0 5em 0;
  }

  .creations__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #mobile__link {
    display: none;
  }

  #desktop__link {
    display: inline-block;
  }

  .creations__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  /* SECTION 4 END*/
}

/**********************/
/*     over 960px     */
/**********************/
@media only screen and (min-width: 60em) {
  /* SECTION 1 BEGIN*/

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/

  .about-grid {
    grid-auto-columns: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .about__img-container {
    grid-column: 1/5;
    grid-row: 1 / -1;
  }

  .about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about__text {
    text-align: initial;
    --padding: calc((80 / 16) * 1rem);
    padding: var(--padding) 0 0 var(--padding);
    grid-column: 4 / 7;
    grid-row: 2 / -1;
  }

  .about__text h1 {
    font-size: 2.5rem;
  }

  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__nav-list {
    margin-bottom: 0;
  }

  .footer__left-container,
  .footer__right-container {
    flex-basis: 25rem;
  }

  .footer__right-container {
    align-items: flex-end;
  }

  .footer__logo {
    align-self: flex-start;
  }

  .footer__left-container {
    text-align: start;
  }

  /* SECTION 4 END*/
}

/***********************/
/*     over 1120px     */
/***********************/
@media only screen and (min-width: 70em) {
  /* SECTION 1 BEGIN*/

  /* SECTION 1 END*/
  /* ******************* */
  /* SECTION 2 BEGIN*/

  /* SECTION 2 END*/
  /* ******************* */
  /* SECTION 3 BEGIN*/

  /* SECTION 3 END*/
  /* ******************* */
  /* SECTION 4 BEGIN*/

  /* SECTION 4 END*/
}
